.parallax1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/buddha.jpeg');
    min-height: 75vh;
    padding-top: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.picPara1 {
    width: 700px;
    background-color: grey;
    opacity: .5;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.flex1 {
    display: flex;
    justify-content: center;

}
.parallax2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/paradise.jpeg');
    min-height:  80vh;
    padding-top: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/nightSky.jpeg');
    min-height: 75vh;
    padding-top: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}