.nv {
    display: flex;
    background-color: grey;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 100%
}

.nv p:hover {
    color: black;
}
.nv p {
    margin-left: 25px;
}