.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    text-align: center;
}
/* .login:hover {
    color: purple;
    cursor: pointer
}
.form button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
} */